snippet fdoc
	/*
	 * entrées :
	 * ${1}
	 * sorties :
	 * ${2}
	 * principe :
	 * ${3}
	 */
	${4}
snippet hdoc
	/*
	 * fichier : `Filename()`.${1}	
	 * date : `strftime("%d/%m/%y")`	
	 * auteur : ${2}	
	 */
	${3}
snippet algo
	Fonction `Filename()`
	problème : {$1} 
	spécification :
		fonction : {$2} ← `Filename()`({$3}
		paramètres : {$4}
		résultats : {$5}
	algorithme :
	variables :
		 {$6}
	debut
		 {$7}
	fin
