snippet fdoc
	/*
	 * entrées :
	 * ${1}
	 * sorties :
	 * ${2}
	 * principe :
	 * ${3}
	 */
	${4}
snippet hdoc
	/*
	 * fichier : `Filename()`.${1}	
	 * date : `strftime("%d/%m/%y")`	
	 * auteur : ${2}	
	 */
	${3}
